<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navBar') %>
    <h1>Welcome to the Mini Message Board</h1>
    <% messages.forEach(message => { %>
    <p>User: <%= message.user %></p>
    <p>Message: <%= message.message %></p>
    <p>Date: <%= message.added %></p>
    <% }) %>
  </body>
</html>
